
/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 0px 10px 20px 10px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    display: inline;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the header */
.header {
    background-color:blue;
    padding:30px;
    color: black;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}
.heads{
    background-color:cornflowerblue;
    padding: 10px;
    color: white;
    text-align: right;

}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */

.btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 20px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
.container {
    display: inline-block;
    cursor: pointer;
}

/* Style the submit button */
.sub{
  float: left;
  width: 5%;
  padding: 5px;
  background: green;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  border-radius: 100;
  cursor: pointer;
  align-self: auto;
  margin-left: 35%;
}

.sub button:hover {
  background:#4C9595;
}

#tas{
    border-color:#E081AE;
    border-radius: 5px;
    width: 50%;
    float: left;
    background-color: #D0CAF9;

}

#des{
    background-color:#D0CAF9;
    border-radius: 5px;
    width: 50%;
    float: left;

}

#tt{
    background-color:#D0CAF9;
    border-radius: 5px;
    width: 50%;
    float: left;
}

form {
    margin-left: 35%;
    margin-right:60%;
    width: 70%;
}
